<div class="row">
  <div class="col-md-4">
    <div class="card text-dark mb-3">
      <div class="card-header bg-success">
        <h3>{{ userObj.name }}</h3>
        <p>{{ userObj.role }}</p>
      </div>
      <div class="card-body">
        <p>{{ userObj.workDescription }}</p>
      </div>
      <div class="card-footer d-flex justify-content-between">
        <button [routerLink]="['userForm']" class="btn btn-primary">
          Edit
        </button>
        <button [routerLink]="['/remove']" class="btn btn-danger">
          Remove
        </button>
        <button [routerLink]="['/users']" class="btn btn-primary">Back</button>
      </div>
    </div>
  </div>
</div>
